@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>404 Middleware Sample</h2>
        <ul>
            <li><a href="/badlink1">This is a bad link</a></li>
            <li><a href="/badlink2">This is another bad link</a></li>
            <li><a href="/fixbadlinks">Manage/Fix 404s</a></li>
        </ul>
    </div>
</div>
